<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

# Загрузка логов с сайта в БД

**Описание задачи:** 

Необходимо написать python скрипт по загрузке логов с сайта в локальную БД PostgreSQL.

**Описание структуры БД:**

В базе данных должны быть следующие колонки:

- ip 
- time (в формате timestamp) 
- request 
- error_code 
- system_info

In [1]:
# Импортируем нужные библиотеки

import pandas as pd
import requests
from bs4 import BeautifulSoup
from sqlalchemy import create_engine

In [2]:
# Сохраняем url, откуда будем выкачивать логи, и преобразуем все логи в единую строку

url = 'https://raw.githubusercontent.com/elastic/examples/master/Common%20Data%20Formats/nginx_logs/nginx_logs'
r = requests.get(url)
soup = BeautifulSoup(r.text)
s = str(soup)

In [5]:
# Обрезаем начало и конец строки

begin = len('<html><body><p>')
end = len('\n</p></body></html>')
s = s[begin:(len(s) - end)]

In [6]:
# Преобразуем строку в список строк разделенных "\n"

rows = s.split('\n')
rows[:5]

['93.180.71.3 - - [17/May/2015:08:05:32 +0000] "GET /downloads/product_1 HTTP/1.1" 304 0 "-" "Debian APT-HTTP/1.3 (0.8.16~exp12ubuntu10.21)"',
 '93.180.71.3 - - [17/May/2015:08:05:23 +0000] "GET /downloads/product_1 HTTP/1.1" 304 0 "-" "Debian APT-HTTP/1.3 (0.8.16~exp12ubuntu10.21)"',
 '80.91.33.133 - - [17/May/2015:08:05:24 +0000] "GET /downloads/product_1 HTTP/1.1" 304 0 "-" "Debian APT-HTTP/1.3 (0.8.16~exp12ubuntu10.17)"',
 '217.168.17.5 - - [17/May/2015:08:05:34 +0000] "GET /downloads/product_1 HTTP/1.1" 200 490 "-" "Debian APT-HTTP/1.3 (0.8.10.3)"',
 '217.168.17.5 - - [17/May/2015:08:05:09 +0000] "GET /downloads/product_2 HTTP/1.1" 200 490 "-" "Debian APT-HTTP/1.3 (0.8.10.3)"']

In [7]:
# Получим количество строк

len(rows)

51462

In [8]:
# Преобразуем каждую строку с список из 5 строк

arr = []
for row in rows:
    log = []
    ip = row.split()[0]
    log.append(ip)
    
    time = row[len(ip)+6:].split('] ')[0]
    log.append(time)
    
    request = row[len(ip)+9+len(time):].split('" ')[0]
    log.append(request)
    
    error_code = row[len(ip)+11+len(time)+len(request):].split(' "')[0]
    log.append(error_code)
    
    system_info = row.split('"')[-2]
    log.append(system_info)
    
    arr.append(log)

In [9]:
# Имеющийся список списков преобразуем в DataFrame

data = pd.DataFrame(arr, columns=['ip', 'time', 'request', 'error_code', 'system_info'])
data

,ip,time,request,error_code,system_info
0,93.180.71.3,17/May/2015:08:05:32 +0000,GET /downloads/product_1 HTTP/1.1,304 0,Debian APT-HTTP/1.3 (0.8.16~exp12ubuntu10.21)
1,93.180.71.3,17/May/2015:08:05:23 +0000,GET /downloads/product_1 HTTP/1.1,304 0,Debian APT-HTTP/1.3 (0.8.16~exp12ubuntu10.21)
2,80.91.33.133,17/May/2015:08:05:24 +0000,GET /downloads/product_1 HTTP/1.1,304 0,Debian APT-HTTP/1.3 (0.8.16~exp12ubuntu10.17)
3,217.168.17.5,17/May/2015:08:05:34 +0000,GET /downloads/product_1 HTTP/1.1,200 490,Debian APT-HTTP/1.3 (0.8.10.3)
4,217.168.17.5,17/May/2015:08:05:09 +0000,GET /downloads/product_2 HTTP/1.1,200 490,Debian APT-HTTP/1.3 (0.8.10.3)
...,...,...,...,...,...
51457,173.255.199.22,04/Jun/2015:07:06:04 +0000,GET /downloads/product_2 HTTP/1.1,404 339,Debian APT-HTTP/1.3 (0.8.10.3)
51458,54.186.10.255,04/Jun/2015:07:06:05 +0000,GET /downloads/product_2 HTTP/1.1,200 2582,urlgrabber/3.9.1 yum/3.4.3
51459,80.91.33.133,04/Jun/2015:07:06:16 +0000,GET /downloads/product_1 HTTP/1.1,304 0,Debian APT-HTTP/1.3 (0.8.16~exp12ubuntu10.16)
51460,144.76.151.58,04/Jun/2015:07:06:05 +0000,GET /downloads/product_2 HTTP/1.1,304 0,Debian APT-HTTP/1.3 (0.9.7.9)
51461,79.136.114.202,04/Jun/2015:07:06:35 +0000,GET /downloads/product_1 HTTP/1.1,404 334,Debian APT-HTTP/1.3 (0.8.16~exp12ubuntu10.22)

In [10]:
# Изменим тип данных столбца time на datetime64

data['time'] = pd.to_datetime(data['time'], format='%d/%b/%Y:%H:%M:%S %z')

In [13]:
data.head()

,ip,time,request,error_code,system_info
0,93.180.71.3,2015-05-17 08:05:32+00:00,GET /downloads/product_1 HTTP/1.1,304 0,Debian APT-HTTP/1.3 (0.8.16~exp12ubuntu10.21)
1,93.180.71.3,2015-05-17 08:05:23+00:00,GET /downloads/product_1 HTTP/1.1,304 0,Debian APT-HTTP/1.3 (0.8.16~exp12ubuntu10.21)
2,80.91.33.133,2015-05-17 08:05:24+00:00,GET /downloads/product_1 HTTP/1.1,304 0,Debian APT-HTTP/1.3 (0.8.16~exp12ubuntu10.17)
3,217.168.17.5,2015-05-17 08:05:34+00:00,GET /downloads/product_1 HTTP/1.1,200 490,Debian APT-HTTP/1.3 (0.8.10.3)
4,217.168.17.5,2015-05-17 08:05:09+00:00,GET /downloads/product_2 HTTP/1.1,200 490,Debian APT-HTTP/1.3 (0.8.10.3)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51462 entries, 0 to 51461
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ip           51462 non-null  object
 1   time         51462 non-null  datetime64[ns, UTC]
 2   request      51462 non-null  object
 3   error_code   51462 non-null  object
 4   system_info  51462 non-null  object
dtypes: datetime64[ns, UTC](1), object(4)
memory usage: 2.0+ MB

In [12]:
# Загрузим данные в таблицу logs базы данных LogUni

engine = create_engine('postgresql://postgres:3915@localhost:5432/LogUni')

data.to_sql("logs", con=engine, index=False, if_exists='append')

# В дальнейшем использую этот скрипт можно догружать новые данные в эту таблицу